header a{
    text-decoration: none;
    color: black;
    margin: 10px;
} 

header{
    text-align: center;
    padding: 10px;
}

header h2{
    margin: 0;
    size: 20px;
}

body{
    background-color: #f0f0f0;
    background-image: url("/img/background.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 20vh 10vw;
    padding: 0;
    color: red;
    text-align: center;
}

#foot{
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 80%;
    height: 40px;
    text-align: center;
}

input{
    margin: 10px;
    size: 20px;
    width: 200px;
    height: 30px;
}

button{
    margin: 10px;
    width: 100px;
    height: 30px;
}
